div.categorizerContainer {
	width: 500px;
	background-color: gray;
}

div.categorizerContent {
	width: 235px;
	height: 300px;
	background-color: white;
	overflow-y: scroll;
}

div.categorizerSelected {
	width: 480px;
	height: 300px;
	background-color: white;
	overflow-y: scroll;
}

div.categorizerLeft {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}

div.categorizerRight {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

div.categorizerBottom {
	clear: both;
	width: 480px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
